.app-wrapper {
  display: grid;

  grid-template-areas: 
    "header header"
    "nav content"
    "footer footer";

  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;

}

.header {
  padding: 10px;
  grid-area: header;
  background-color: red;
}

.nav {
  padding: 20px;
  grid-area: nav;
  background-color: orange;
}

.content {
  padding: 20px;
  grid-area: content;
  background-color: green;
}

.footer {
  padding: 10px;
  grid-area: footer;
  background-color: yellow;
}